
<div>
    <div class="page-header">
        <h1>Supermart
            <small>Add Grocery</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="brand">Brand:</label>
            <input id="brand" class="form-control" type="text" name="brand"
                   placeholder="Enter Brand name"
                   ng-model="ctrl.brand"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input id="name" class="form-control" type="text" name="name"
                   placeholder="Enter Product name"
                   ng-model="ctrl.name"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <label for="upc12">Barcode:</label>
            <input id="upc12" class="form-control" type="text" name="upc12"
                   placeholder="Enter Barcode number"
                   ng-model="ctrl.upc12"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.create()">
                Create New
            </button>
        </div>
    </form>

</div>
