<div>
      
    <div class="container">
        <div class="row">
            <!--<div class="item-img">-->
            <!--<div class="img-thumbnail img-responsive">-->
            <!--<div class="img-thumbnail">-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="thumbnail">
                        <img src="../../assets/img/UHeart01.jpg">
                    </div>
                    <h3 class="pad-bt15">U Heart: Tales From The Heart (Organising Committee Recruitment)</h3>
                    <p>Calling out for volunteers to join us in the core team to plan for Young NTUC U Heart 2017 – Finale!</p>
                    <p>12 Aug 2017, Saturday </p>
                    <p>11:00AM - 3:00PM </p>
                    <p>Our Tampines Hub</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="thumbnail">
                        <img src="../../assets/img/UHeart02.jpg">
                    </div>
                    <h3 class="pad-bt15">U Heart: Project Refresh @ Kaki Bukit</h3>
                    <p>Young NTUC Project Refresh aims to improve the living environment of elderlies staying in 1-room rental
                        unit through a series of refurbishment works including painting, cleaning, bed bug fumigation...</p>
                    <p>30 Jul 2017, Sunday </p>
                    <p>10:00AM - 5:00PM </p>
                    <p>Kaki Bukit Area (Details will be sent via email to all participants)</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="thumbnail">
                        <img src="../../assets/img/UHeart03.jpg">
                    </div>
                    <h3 class="pad-bt15">U Heart: Masak- Masak</h3>
                    <p>Team Young NTUC Think Tank, Singapore Kindness Movement and People’s Association jointly organise U Heart:
                        Masak-Masak to reach out to single parents and youths-at-risk, providing them an opportuni...</p>
                    <p>01 Jul 2017, Saturday - 08 Jul 2017, Saturday </p>
                    <p>10:30AM - 5:30PM </p>
                    <p>106 Joo Chiat Place, Singapore 427833</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="thumbnail">
                        <img src="../../assets/img/UHeart04.jpg">
                    </div>
                    <h3 class="pad-bt15">Young NTUC U Heart 2017</h3>
                    <p>Young NTUC U Heart 2017, in collaboration with NTUC Income aims to leave a deeper, lasting impact on
                        the lives of diverse group of beneficiaries through a series of youth self-initiated do-good pro...</p>
                    <p>01 Mar 2017, Wednesday - 13 Aug 2017, Sunday </p>
                    <p>8:00AM - 11:00PM </p>
                    <p>Island-wide</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="thumbnail">
                        <img src="../../assets/img/UHeart05.jpg">
                    </div>
                    <h3 class="pad-bt15">U Heart: Let's Celebrate!</h3>
                    <p>Leading up to SG52, we have planned a series of activities to get the young and old into the mood for
                        our Nation’s birthday! From reminiscing the past with photo stories to our very own “Don’t Forg...</p>
                    <p>15 Jul 2017, Saturday </p>
                    <p>9:00AM - 1:00PM </p>
                    <p>SilverACE@Redhill, 71 Redhill Rd, Singapore 150071</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="thumbnail">
                        <img src="../../assets/img/UHeart06.jpg">
                    </div>
                    <h3 class="pad-bt15">Resilience - Sometimes You Win, Sometimes You Learn</h3>
                    <p>We will not be defeated by bad experiences. It is what we learn from these events that determine our
                        ability to handle challenges and grow from them. This workshop sheds light on a path to a more fulfilling
                        life by examining how loss can bring about abundance.</p>
                    <p>18 Jul 2017, Tuesday</p>
                    <p>7:00PM - 10:00PM</p>
                    <p>NTUC Centre, Level 8, Room 801</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <img src="../../assets/img/UHeart07.jpg" class="img-responsive">
                    <h3 class="pad-bt15">Career Discovery & Mentorship Programme - Mentorship</h3>
                    <p>For youths aspiring to get ahead in your career, join us in this programme to gain better clarity of
                        your career direction and get access to career mentors!</p>
                    <p>04 Jul 2017, Tue </p>
                    <p>6:30PM - 9:30PM </p>
                    <p>NTUC Centre, One Marina Boulevard</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <img src="../../assets/img/UHeart08.jpg" class="img-responsive">
                    <h3 class="pad-bt15">SafeYouth@Work Congress</h3>
                    <p>The SafeYouth@Work Congress aims to build a global network of young champions for safety and health at
                        work. Join us today and play an important role as change agent and enabler of sustainable deve...</p>
                    <p>02 Sep 2017, Saturday - 06 Sep 2017, Wednesday </p>
                    <p>9:00AM - 6:00PM </p>
                    <p>Sands Expo and Convention Centre</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <img src="../../assets/img/UHeart09.jpg" class="img-responsive">
                    <h3 class="pad-bt15">Making a Career out of Doing Good</h3>
                    <p>Embark on a Learning Journey to Boys' Town and be introduced to the field of youth work that helps teens
                        overcome challenges. Find out more about social service & youth work from esteemed speakers ...</p>
                    <p>06 Jul 2017, Thursday </p>
                    <p>6:00PM - 9:30PM </p>
                    <p>Boys' Town, 624 Upper Bukit Timah Road, Singapore 678212</p>
                </div>
            </div>
        </div>


        <div class="text-center">
            <ul class="pagination pagination-large">
                <li class="disabled"><span>&laquo;</span></li>
                <li class="active"><span>1</span></li>
                <li><a href="http://bootsnipp.com?page=2">2</a></li>
                <li><a href="http://bootsnipp.com?page=3">3</a></li>
                <li><a href="http://bootsnipp.com?page=4">4</a></li>
                <li><a href="http://bootsnipp.com?page=5">5</a></li>
                <li><a href="http://bootsnipp.com?page=6">6</a></li>
                <li><a href="http://bootsnipp.com?page=7">7</a></li>
                <li><a href="http://bootsnipp.com?page=8">8</a></li>
                <li><a href="http://bootsnipp.com?page=2" rel="next">&raquo;</a></li>
            </ul>
        </div>
        <!--container-->
    </div>
</div>